<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.creditcard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CreditCard"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Prediction"
            android:exported="false" />
        <activity
            android:name=".Userhome"
            android:exported="false" />
        <activity
            android:name=".user_otp"
            android:exported="false" />
        <activity
            android:name=".user_makepayment"
            android:exported="false" />
        <activity
            android:name=".user_transfer"
            android:exported="false" />
        <activity
            android:name=".user_managedeposit"
            android:exported="false" />
        <activity
            android:name=".user_viewtransaction"
            android:exported="false" />
        <activity
            android:name=".user_requestacc"
            android:exported="false" />
        <activity
            android:name=".user_managecreditcard"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />

        <service android:name=".LocationService" />

        <activity
            android:name=".Ipsettings"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>