{% include 'userheader.html'%}
  <div class="container-fluid p-0 mb-5">
        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
           
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="img-fluid" src="/static/img/carousel-3.jpg" alt="Image">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
<center>
	<h1  style="color: white">Transfer Amount</h1>
	<form method="post">
	<table class="table" style="width: 500px;color: white">
		<tr>
			<th>From Account</th>
			<td><input type="text" required=""  value="{{data['acco']}}" class="form-control" name="facc"></td>
		</tr>
		<tr>
			<th>To Account</th>
			<td><input type="text" required="" class="form-control" name="toacc"></td>
		</tr>
		<tr>
			<th>Amount</th>
			<td><input type="text" required="" class="form-control" name="amo"></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><input type="submit" class="btn btn-success" name="transfer"></td>
		</tr>
	</table>
	</form>
</center>
</div></div></div></div></div>
{% include 'footer.html'%}