{% include 'userheader.html'%}
  <div class="container-fluid p-0 mb-5">
        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
           
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="img-fluid" src="/static/img/carousel-3.jpg" alt="Image">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
<center>
	<h1  style="color: white">Add Deposit</h1>
	<form method="post">
	<table class="table" style="width: 500px;color: white">
		<tr>
			<th>Balance</th>
			<td><input type="text" required="" class="form-control" name="bal"></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><input type="submit" class="btn btn-success" name="acc"></td>
		</tr>
	</table>
	</form>
</center>
</div></div></div></div></div>
<center>
	<h1>View Deposit</h1>
	<table class="table" style="width: 500px">
		<tr>
			<th>Slno</th>
			<th>User</th>
			<th>Account Number</th>
			<th>Balance</th>
			<th>Status</th>
		</tr>
		{% for row in data['acc']%}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{row['fname']}}</td>
			<td>{{row['accountnumber']}}</td>
			<td>{{row['balance']}}</td>
			<td>{{row['status']}}</td>
		</tr>
		{% endfor %}
	</table>
</center>
{% include 'footer.html'%}